.aboutShop {
    color: black;
}

.shopTitle {
    text-align: center;
    margin: 0;
    padding-top: 0.5em;
}

.shop__text {
    text-align: center;
    padding: 0.5em 10em 0.5em 10em;
    margin: 0;
}

@media screen and (max-width:480px) {

    .shop__text {
        padding: 1em 1em;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__container {
        display: block;
    }

    .shopTitle {
        padding-top: 0.5em;
    }
}