.aboutShop {
    color: black;
}

.shopTitle {
    text-align: center;
    margin: 0;
    padding-top: 1.5em;
}

.shop__text {
    text-align: center;
    padding: 0.5em 10em 1.5em 10em;
    margin: 0;
}
