.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.aboutShop {
    color: black;
}

.shopTitle {
    text-align: center;
    padding-top: 2em;
}

.shop__text {
    padding: 1em 6em 2em 6em;
    text-align: center;
}


@media screen and (max-width:480px) {

    .shop__text {
        padding: 1em 1em;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__container {
        display: block;
    }

    .shopTitle {
        padding-top: 0.5em;
    }
}