header {
  background-color: #001720;
  border-bottom: solid 3px grey;
  background-image: url(/assets/img/footerbk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#headerNav {
    display: flex;
    width: 100%;
    padding: 1em 0 0 0;
}

.headerSearch {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.navBottom a {
    text-decoration: none;
    color: white;
}

.navBottom a:hover {
    color: rgb(62, 62, 226);
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 2em;
    border: 1px solid black;
}

.searchIcon {
    padding-left: 0.5em;
}

.searchInput {
    border: none transparent;
    outline: none;
    background-color: white;
    padding-left: 0.5em;
    width: 100%;
    font-size: 20px;
}

.searchInput::placeholder {
    color: black;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    font-size: 20px;
    border-right: 3px solid grey;
    padding-right: 1em;
}

.menuItem--nt {
    border: none;
}

.fa-solid,
.fa-cart-shopping {
    padding: 0.8em 0.8em 0.8em 0.5em;
}

.menu-openner {
    display: none;
}

.cart__container {
    background-color: gray;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cart {
    color: white;
    padding: 0em 1em 0 0;
    margin: 0;
    font-size: 16px;
}

#cart:hover {
    color: black;
}

.cartText {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding-right: 0.5em;
}

.cartText:hover {
    background: white;
    color: black;
}

#cart {
    padding: 0;
}

.navItem {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navItem img {
    width: 20%;
    align-self: center;
    padding-top: 2em;
}

.navItem h1 {
    text-align: center;
    color: white;
    padding: 1em;
    margin: 0;
}

#hrHeader {
    width: 20%;
}

.gallery {
    padding: 1em 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.galleryItem {
    padding: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.galleryImg {
    width: 100%;
    max-width: 300px;
    max-height: 250px;
    cursor: pointer;
}

.container__shop {
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
    width: 100%;
}

.container__shop text {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.cartText__mobile {
    display: none;
}

.container {
    display: none;
}

.list-menu {
    display: none;
}

@media screen and (max-width:1024px) {
    .navBottom {
        display: none;
    }

    #headerNav {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .headerSearch {
        width: 90%;
    }

    .search {
        width: 90%;
    }

    .navItem img {
        width: 25%;
        min-width: 250px;
        padding: 0;
    }

    .header__label {
        padding-right: 10px;
    }

    /*-------------------------- Hamburguer -----------------------------*/
    .container {
        display: block;
        padding-right: 4em;
        margin-bottom: 4.5em;
    }

    #menu {
        display: none;
    }

    .header__button:checked~.list-menu {
        display: block;
    }

    .menu__item {
        padding: 1em;
    }

    .list-menu__item:hover {
        background: rgb(6, 6, 134);
        color: white;
    }

    .list-menu__link:hover {
        background-color: white;
    }

    .list-menu__link {
        background: blue;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }

    .list-menu {
        display: none;
        position: fixed;
        top: 100px;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: 9999;
    }

    .container__botao:checked~.list-menu {
        display: block;
    }

    .list-menu__item {
        padding: 0.5em;
        background-color: rgb(176, 176, 189);
        text-align: center;
    }

    .header__label {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: transparent;
        z-index: 9999;
    }

    .hb {
        width: 2em;
        display: block;
        border: 3px solid rgb(6, 6, 134);
        margin: 1em 1em 1em 0.5em;
        background-color: rgb(6, 6, 134);
    }

    .hb:hover {
        border: 3px solid rgb(6, 6, 134);
        transition: 0.3s;
    }
}

@media screen and (max-width:768px) {

    #headerNav {
        justify-content: center;
        align-items: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .menu-openner {
        display: flex;
        margin-left: 15px;
        font-size: 16px;
        background-color: #a9dcff;
        padding: 2px 5px;
        border-radius: 5px;
        max-height: 50px;
        cursor: pointer;
    }

    .menu-openner span {
        margin-right:10px;
    }
}