@import url(./swiper.css);
@import url(./stars.css);
@import url(./product.css);
@import url(./hover.css);
@import url(./about.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./newsLetter.css);
@import url(./reset.css);

html {
  scroll-behavior: smooth;
}

:root {
  --fonte-primaria:'Open Sans', sans-serif;
}

body {
  font-family: var(--fonte-primaria);
  padding: 0;
  margin: 0;
}

nav {
  color: white;
  padding: 10px 10px 10px 10px;
}

header {
  background-color: #001720;
  border-bottom: solid 3px grey;
  background-image: url(/assets/img/footerbk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  text-decoration: none;
  padding: 0;
  order: none;
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #001720;
  align-items: center;
  background-image: url(/assets/img/footerbkfundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* -------------------------------media querys------------------------------------- */

@media screen and (max-width:480px) {

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}