@import url(./swiper.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  color: gray;
}

nav {
  background-color: #001720;
  color: white;
  padding: 10px 10px 10px 10px;
}

header {
  background-color: #001720;
  border-bottom: solid 3px grey;
}

#headerNav {
  display: flex;
}

.navItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navItem img {
  width: 20%;
  align-self: center;
}

.navItem h1 {
  text-align: center;
  color: white;
  padding: 1em;
  margin: 0;
}

.headerSearch {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5em;
}

.search {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 5px;
  width: 80%;
}

.searchInput {
  border: none;
  background-color: white;
  padding-left: 1em;
  color: black;
  width: 100%;
}

.searchInput::placeholder {
  color: black;
}

#hrHeader {
  width: 20%;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10em;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.cart__container {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid, .fa-cart-shopping {
  padding: 0.8em 0.8em 0.8em 0.8em;
}

#cart {
  padding: 0 0.5em 0 0;
  margin: 0;
}


.buyButton {
  font-size: 24px;
  color: white;
  border: 1px solid gray;
  background-color: black;
  cursor: pointer;
  padding: 0.2em 1.5em ;
}

.gallery {
  padding: 50px 50px 0 50px;
  display: flex;
}

.galleryItem {
  padding: 50px;
}

.galleryImg {
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  cursor: pointer;
}

#aboutHR {
  width: 100%;
  padding: 0;
  color: gray;
  border-width: 0.5px;
  margin-block-end: 0.1em;
  margin-block-start: 0.1em;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #001720;
  align-items: center;
}

.footerLeft {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}

#navFooter {
  display: flex;
  width: 100%;
  padding: 0;
}

#navFooter a {
  text-decoration: none;
  color: gray;
}

.container__shop {
  display: flex;
  justify-content: center;
  padding-bottom: 5em;
}

.newsTitle {
  color: gray;
  padding-left: 50px;
  margin: 0;
}

.fMenuTitle {
  font-size: 16px;
  color: black;
}

.fMail {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.newsletter {
  display: flex;
  flex-direction: row;
}

.mewsletter__container {
  width: 50%;
}

.newsletter__text {
  color: gray;
  font-size: 14px;
  font-weight: 300;
  padding: 0 0 2em 50px;
  margin: 0;

}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;

  justify-content: space-between;
}

.footerMenu {
  padding-left: 3.5em;
}



.fIcons{
  display: flex;
  flex-direction: column;
  padding-left: 3.5em;
}

.fIcons a {
  text-decoration: none;
  color: gray;
}

.fInput {
  height: 25%;
  width: 40%;
}

.fButton {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright{
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.footerCopyRight {
  display: flex;
  flex-direction: column;
}

.footer__adress {
  color: gray;
  padding-left: 1em;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 2em 0 0 2em;
}

#logoHR {
  width: 100%;
}

.buttonLogo {
  background-color: #001720;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
}

.logo {
  max-width: 200px;
  max-height: 200px;
  padding-left: 4em;
}

.container__copyright {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}

.container__copyright p {
  padding: 0 0 0 3em;
}



/* -------------------------------media querys------------------------------------- */
